<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="6" name="Test" parallel="methods">		
		<classes>
			<class name="com.automation.TestNGTestCases">
				<methods>
					<include name="excelFileTest" />
					<include name="excelFileTest2" />
					<include name="jsonFileTest" />
					<include name="jsonFileTest2" />
					<include name="xmlFileTest" />
					<include name="accessXmlFileDataTest" />
				</methods>
			</class>
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
